<!DOCTYPE html>
<html lang="en" ng-app="LeeApp">
    <head>
        <meta charset="utf-8" />
        <title>My Angular Bootstrap for fun project</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
         
        @Styles.Render("~/Content/AngularBootstrap")
        @Styles.Render("~/Content/DownloadCss")
        @Scripts.Render("~/bundles/modernizr")
        @RenderSection("style", required: false)

    </head>


    <body>
        <!-- header section inclding logo and social media-->
        <header>
            <div class="container">
                <div class="logo pull-left animated wow fadeInLeft">
                    <img src="~/Content/themes/base/images/img/logo.png" alt="" title="" />
                </div>
                <nav class="pull-left">
                    <ul class="list-unstyled">
                        <li class="animated wow fadeInLeft" data-wow-delay="0s"><a href="#about">About</a></li>
                        <li class="animated wow fadeInLeft" data-wow-delay=".1s"><a href="#app_features">Features</a></li>
                        <li class="animated wow fadeInLeft" data-wow-delay=".2s"><a href="#testimonials">Testimonials</a></li>
                    </ul>
                </nav>

                <div class="social pull-right">
                    <ul class="list-unstyled">
                        <li class="animated wow fadeInRight" data-wow-delay=".2s"><a href="#"><img src="~/Content/themes/base/images/img/facebook.png" alt="" title=""></a></li>
                        <li class="animated wow fadeInRight" data-wow-delay=".1s"><a href="#"><img src="~/Content/themes/base/images/img/twitter.png" alt="" title=""></a></li>
                        <li class="animated wow fadeInRight" data-wow-delay="0s"><a href="#"><img src="~/Content/themes/base/images/img/google.png" alt="" title=""></a></li>
                    </ul>
                </div>

                <span class="burger_icon">menu</span>
            </div>
        </header>
        <!-- end of header -->
         

        <!-- body area -->
        @RenderBody()
        <!-- end of body-->


        <!-- footer section -->
        <footer>
            <ul class="list-unstyled list-inline app_platform">
                <li class="animated wow fadeInDown" data-wow-delay="0s">
                    <a href=""><img src="~/Content/themes/base/images/img/android_icon.png" alt="" title=""></a>
                </li>
                <li class="animated wow fadeInDown" data-wow-delay=".1s">
                    <a href=""><img src="~/Content/themes/base/images/img/ios_icon.png" alt="" title=""></a>
                </li>
                <li class="animated wow fadeInDown" data-wow-delay=".2s">
                    <a href=""><img src="~/Content/themes/base/images/img/windows_icon.png" alt="" title=""></a>
                </li>
            </ul>
            <p class="copyright animated wow fadeIn" data-wow-duration="2s">© 2015 <a href="http://pixelhint.com" target="_blank"><strong>Pixelhint.com</strong></a>. All Rights Reserved</p>
        </footer>
        <!-- end of footer section-->
      



        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/Scripts/AngularBootstrap")
        @Scripts.Render("~/Scripts/MyScript/Site.js")
        @RenderSection("scripts", required: false)
    </body>
</html>
